*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    margin: 40px auto;
    width: 800px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.container h1{
    padding: 8px;
}

.container input, button{
    padding: 8px;
    margin-left: 12px;
    margin-top: 12px;
    border: none;
    border-radius: 10px;
}

.container input{
    width: 300px;
}

button{
    background-color: darkgreen;
    color: white;
}

ul{
    margin: 40px;
    
}
li{
    padding: 8px;
    list-style: none;
    
}

.lista-adicionada{
    color: blue;
    padding: 8px;
    cursor: pointer;
}

.decoracao-texto{
    text-decoration: line-through;
    padding: 8px;
    font-weight: bold;
}



